.cart-container{
	width: 100%;
	display: flex;
	justify-content: center;
}

.cart-wrapper{
	width: 100%;
	max-width: 1300px;
	padding: 15px;
	margin-top: 40px;

}
.carts-wrapper{
	display: flex;
	gap: 20px;
}