.card{
	flex-grow: 1 !important;
	width: 290px;
}

.category-btn{
	border-radius:30px;
	background-color: rgb(255, 225, 0);
	color: black;
	font-weight: 600;
	text-transform: capitalize;
	padding: 3px 7px;
	border: none;
}
.category-btn1{
	margin-left: 7px;
	border-radius:30px;
	background-color: aqua;
	color: black;
	font-weight: 600;
	text-transform: capitalize;
	padding: 3px 7px;
	border: none;
}
.flexwrap{
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px 0px 10px  0px;
}